<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Reveal</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <h3>
        Hey Moonie,
        <br> 
        Welcome to my Secret page
        <br>
        Hope you can see your moon here
       
        
    </h3>
<div class="container">
    <div id="text">
        <p></p>
    </div>
    <div class="btn">

    </div>
</div>
</body>
</html>